<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title><%= title %></title>
</head>

<body>
    <%= base_url %>
    <h3>Afastamentos</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data Solicitação</th>
                <th scope="col">Data Início Afastamento</th>
                <th scope="col">Data Fim Afastamento</th>
                <th scope="col">Tipo Afastamento</th>
                <th scope="col">Motivo</th>
                <th scope="col">Ônus</th>
                <th scope="col">Data Início Evento</th>
                <th scope="col">Data Fim Evento</th>
                <th scope="col">Nome do Evento</th>
            </tr>
        </thead>
        <tbody>
            <% allRemovals.forEach( function(row){  %>
            <tr>
                <th scope="row"><%= row.id %></th>
                <td><%= row.data_solicitacao %></td>
                <td><%= row.data_inicio_afastamento %></td>
                <td><%= row.data_fim_afastamento %></td>
                <td><%= row.tipo_afastamento %></td>
                <td><%= row.motivo_afastamento %></td>
                <td><%= row.onus %></td>
                <td><%= row.data_inicio_evento %></td>
                <td><%= row.data_fim_evento %></td>
                <td><%= row.nome_evento %></td>
                <td><a href="<%= base_url %>/Controller_Removal/editRemoval/<%= row.id %>"> Editar </a> |
                    <a href="<%= base_url %>/Controller_Removal/deleteRemoval/<%= row.id %>"> Apagar </a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if(formRemovalAlert){ %>
    <%= formRemovalAlert %>
    <% } %>
    <form action="<% base_url %>/Controller_Removal/insertRemoval" method="post"><br>
        Data Solicitação: <input type="date" name="data_solicitacao"><br>
        Data Ínicio Afastamento: <input type="date" name="data_inicio_afastamento"><br>
        Data Fim Afastasmento: <input type="date" name="data_fim_afastamento"><br>
        Tipo Afastamento: <select name="tipo_afastamento">
            <option>internacional</option>
            <option>nacional</option>
        </select><br>
        Motivo: <input type="text" name="motivo"><br>
        Ônus: <select name="onus">
            <option>total</option>
            <option>parcial</option>
            <option>inexistente</option>
        </select><br>
        Data Ínicio Evento: <input type="date" name="data_inicio_evento"><br>
        Data Fim Evento: <input type="date" name="data_fim_evento"><br>
        Nome do Evento: <input type="text" name="nome_evento"><br>
        <input type="submit" name="Cadastrar" value="Cadastrar" class="btn btn-primary">
    </form>

    <h3>Solicitações</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Professor ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Afastamento ID</th>
            </tr>
        </thead>
        <tbody>
            <% allRequests.forEach( function(row){ %>
            <tr>
                <th scope="row"><%= row.requestId %></th>
                <td><%= row.teacherId %></td>
                <td><%= row.nome %></td>
                <td><%= row.sobrenome %></td>
                <td><%= row.removal_id %></td>
                <td><a href="<%= base_url %>/Controller_Removal/deleteRequest/<%= row.requestId %>"> Apagar </a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if(formRequestAlert){ %>
    <%= formRequestAlert %>
    <% } %>
    <form action="<%= base_url %>/Controller_Removal/insertRequest" method="post"><br>
        Professor: <select name="field_id_teacher">
            <% allTeachers.forEach( function(row) { %>
            <option><%= row.id +" "+ row.nome + " "+ row.sobrenome %></option>
            <% }) %>
        </select>
        Afastamento: <select name="field_id_removal">
            <% allRemovals.forEach( function(row) { %>
            <option><%= row.id %></option>
            <% }) %>
        </select>
        <input type="submit" name="Cadastrar" value="Cadastrar" class="btn btn-primary">
    </form>

    <h3>Relatores</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Professor ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Afastamento ID</th>
            </tr>
        </thead>
        <tbody>

            <% allRapporteurs.forEach( function(row) { %>
            <tr>
                <th scope="row"><%= row.rapporteursId %></th>
                <td><%= row.teacherId %></td>
                <td><%= row.nome %></td>
                <td><%= row.sobrenome %></td>
                <td><%= row.removal_id %></td>
                <td><a href="<%= base_url %>/Controller_Removal/deleteRapporteur/<%= row.rapporteursId %>"> Apagar </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if(formRapporteursAlert){ %>
    <%= formRapporteursAlert %>
    <% } %>
    <form action="<% base_url %>/Controller_Removal/insertRapporteurs" method="post"><br>
        Professor: <select name="field_id_teacher">
            <% allTeachers.forEach( function(row){  %>
            <option><%= row.id +" "+row.nome+" "+row.sobrenome %></option>
            <% }) %>
        </select>
        Afastamento: <select name="field_id_removal">
            <% allRemovals.forEach( function(row) { %>
            <option><%= row.id %></option>
            <% }) %>
        </select>
        <input type="submit" name="Cadastrar" value="Cadastrar" class="btn btn-primary">
    </form>
</body>

</html>