<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title><%= title %></title>
    </head>

    <body>

        <%= professor.nome %>

        <form class="form-horizontal" method="post" action="<%= base_url %>/Controller_Professor/updateProfessor/<%= professor[0].id %>">
            <fieldset>
                <!-- Form Name -->
                <legend>Editar Cadastro de Professor</legend>
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for=""></label>  
                    <div class="col-md-4">
                        <input id="nome" name="nome" value="<%= professor[0].nome %>" type="text" placeholder="Nome" class="form-control input-md" required="">
                    </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sobrenome"></label>  
                    <div class="col-md-4">
                        <input id="sobrenome" name="sobrenome" value="<%= professor[0].sobrenome %>" type="text" placeholder="Sobrenome" class="form-control input-md" required="">
                    </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email"></label>  
                    <div class="col-md-4">
                        <input id="email" name="email" value="<%= professor[0].email %>" type="text" placeholder="E-mail" class="form-control input-md" required="">
                    </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="telefone"></label>  
                    <div class="col-md-4">
                        <input id="telefone" name="telefone" value="<%= professor[0].telefone %>" type="text" placeholder="Telefone" class="form-control input-md">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </fieldset>

        </form>
    </body>
</html>