<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    <title><%= title %></title>
</head>
<body>
    <%= base_url %>
    <h3>Cadastro de Professor</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <% allProfessors.forEach( function(row){ %>
                <tr>
                    <th scope="row"><%= row.id; %></th>
                    <td><%= row.nome; %></td>
                    <td><%= row.sobrenome; %></td>
                    <td><%= row.email; %></td>
                    <td><%= row.telefone; %></td>
                    <td><a href="<%= base_url%>/Controller_Professor/editProfessor/<%= row.id %>"> Editar </a> |
                        <a href="<%= base_url%>/Controller_Professor/deleteProfessor/<%= row.id %>"> Apagar </a> 
                    </td>
                </tr>
            <% } ); %>
                

        </tbody>
    </table>
    
    <% if(formProfessorAlert){ %>
    <%= formProfessorAlert %>
    <% }%>

    <form action="<%= base_url%>/Controller_Professor/insertProfessor" method="post">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="sobrenome" placeholder="Sobrenome">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="telefone" placeholder="Telefone">

        <input type="submit" name = "Cadastrar" value="Cadastrar" class="btn btn-primary">
    </form>

    <h3>Parentesco</h3>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Tipo Parentesco</th>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                </tr>
            </thead>
            <tbody>
                <% allRelatives.forEach( function(row) { %>
                    <tr>
                        <th><%= row.id_professor1 %></th>
                        <td><%= row.nome_professor1 %></td>
                        <td><%= row.sobrenome_professor1 %></td>
                        <td><%= row.tipo_parentesco %></td>
                        <th><%= row.id_professor2 %></th>
                        <td><%= row.nome_professor2 %></td>
                        <td><%= row.sobrenome_professor2 %></td>
                        <!-- row.id é o id do tipo Parentesco -->
                        <td><a href="<%= base_url %>/Controller_Professor/deleteRelative/<%= row.id_professor1 %>-<%= row.id %>-<%= row.id_professor2 %>"> Apagar </a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table> 
        <% if(formRelativeAlert){ %>
        <%= formRelativeAlert %>
        <% } %>
        
        <form action="<%=base_url%>/Controller_Professor/insertRelative" method="post">
            <select name="id_professor1">
                <% allProfessors.forEach( function(row) {  %>
                    <option><%= row.id %></option>
                <% }); %>
            </select>
            <select name="tipo_parentesco">
                <% allTypeRelationship.forEach( function(row){ %>
                    <option><%= row.tipo_parentesco %></option>
                <% }); %>
            </select>
            <select name="id_professor2">
                <% allProfessors.forEach( function(row) {  %>
                    <option><%= row.id %></option>
                <% }); %>
            </select>

            <input type="submit" name = "Cadastrar" value="Cadastrar" class="btn btn-primary">
        </form>

</body>
</html>