<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <form class="form-horizontal" method="post"
        action="<%= base_url %>/Controller_Removal/updateRemoval/<%= removal[0].id %>">
        <fieldset>
            <!-- Form Name -->
            <legend>Editar Cadastro de Afastamento</legend>

            <!-- Date input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Data Solicitação</label>
                <div class="col-md-4">
                    <input id="data_solicitacao" name="data_solicitacao" value="<%= moment(removal[0].data_solicitacao).format('YYYY-MM-DD') %>"
                        type="date" placeholder="Data Solicitação" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Date input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Data Início Afastamento</label>
                <div class="col-md-4">
                    <input id="data_inicio_afastamento" name="data_inicio_afastamento"
                        value="<%= moment(removal[0].data_inicio_afastamento).format('YYYY-MM-DD') %>" type="date"
                        placeholder="Data Início Afastamento" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Date input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Data Fim Afastamento</label>
                <div class="col-md-4">
                    <input id="data_fim_afastamento" name="data_fim_afastamento"
                        value="<%= moment(removal[0].data_fim_afastamento).format('YYYY-MM-DD') %>" type="date" placeholder="Data Fim Afastamento"
                        class="form-control input-md" required="">
                </div>
            </div>

            <!-- Select input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Tipo Afastamento</label>
                <div class="col-md-4">
                    <select name="tipo_afastamento">
                        <option><%= removal[0].tipo_afastamento %></option>
                        <option>internacional</option>
                        <option>nacional</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="sobrenome">Motivo Afastamento</label>
                <div class="col-md-4">
                    <input id="motivo" name="motivo" value="<%= removal[0].motivo_afastamento %>" type="text"
                        placeholder="Motivo" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Select input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Ônus</label>
                <div class="col-md-4">
                    <select name="onus">
                        <option><%= removal[0].onus %></option>
                        <option>total</option>
                        <option>parcial</option>
                        <option>inexistente</option>
                    </select>
                </div>
            </div>

            <!-- Date input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Data Início Evento</label>
                <div class="col-md-4">
                    <input id="data_inicio_evento" name="data_inicio_evento"
                        value="<%= moment(removal[0].data_inicio_evento).format('YYYY-MM-DD') %>" type="date" placeholder="Data Início Evento"
                        class="form-control input-md" required="">
                </div>
            </div>

            <!-- Date input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Data Fim Evento</label>
                <div class="col-md-4">
                    <input id="data_fim_evento" name="data_fim_evento" value="<%= moment(removal[0].data_fim_evento).format('YYYY-MM-DD') %>"
                        type="date" placeholder="Data Fim Evento" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone">Nome Evento</label>
                <div class="col-md-4">
                    <input id="nome_evento" name="nome_evento" value="<%= removal[0].nome_evento %>" type="text"
                        placeholder="Nome Evento" class="form-control input-md">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Enviar</button>
                </div>
            </div>

        </fieldset>

    </form>
</body>

</html>